---
id: properties-reference
title: Properties reference
---

import Tabs from "@theme/Tabs";
import TabItem from "@theme/TabItem";
import Property from "@site/src/components/Property";


Properties for the Camunda Spring Boot Starter.

## Properties

<Tabs groupId="property-format" defaultValue="property" queryString values={

[
{label: 'Configuration property', value: 'property' },
{label: 'Environment variable', value: 'env' },
]
}>
</Tabs>


{{#groups}}


### `{{group.name}}`

{{&group.description}}

{{#table}}
<table>
<thead>
  <tr>
    <th>Property</th>
    <th>Description</th>
    <th>Default value</th>
  </tr>
</thead>
<tbody>
{{#properties}}
<tr>
<td>
  <Property defaultValue="property" groupId="property-format" property="{{name}}" env="{{env}}"/><a href="#{{anchor}}" id="{{anchor}}" class="hash-link"/>
</td>

<td>

{{&description}}

Type: <code>{{type}}</code>

</td>
<td>
  <code>{{defaultValue}}</code>
</td>
</tr>
{{/properties}}
</tbody>
</table>
{{/table}}
{{/groups}}





## Deprecated properties

:::caution
The following properties are deprecated. See the replacement property and related hints.

The deprecated properties are still effective if their replacement is not used yet. The SDK hints on the usage of deprecated properties by logging warn statements during startup.
:::

{{#deprecatedGroups}}


### `{{group.name}}`

Deprecated {{&group.description}}

{{#table}}
<table>
<thead>
  <tr>
    <th>Property</th>
    <th>Replacement</th>
    <th>Hint</th>
  </tr>
</thead>
<tbody>
{{#properties}}
<tr>
<td>
  <Property defaultValue="property" groupId="property-format" property="{{name}}" env="{{env}}"/><a href="#{{anchor}}" id="{{anchor}}" class="hash-link"/>
</td>
<td>
  {{#deprecation.replacement}}<a href="#{{deprecation.replacementAnchor}}"><Property defaultValue="property" groupId="property-format" property="{{deprecation.replacement}}" env="{{deprecation.replacementEnv}}"/></a>{{/deprecation.replacement}}
</td>
<td>
{{#deprecation.reason}}
{{deprecation.reason}}
{{/deprecation.reason}}
{{^deprecation.reason}}
N/A
{{/deprecation.reason}}
</td>
</tr>
{{/properties}}
</tbody>
</table>
{{/table}}
{{/deprecatedGroups}}