# Ignore dependencies
node_modules
package-lock.json

# -------- To be removed -------- #
# Ignore while prettier is being  #
# enabled to assist gradual       #
# adoption. These should either   #
# be removed or moved to the top. #
# ------------------------------- #
.git
.github
.gitignore
.vscode
blog
docs
hacks
howtos
media-src
product-links.txt
src
static
versioned_docs
versioned_sidebars