# Ignore dependencies
node_modules
package-lock.json

# Ignore files managed by Git
.git

# Ignore files managed by VSCode
.vscode

# -------- To be removed -------- #
# Ignore while prettier is being  #
# enabled to assist gradual       #
# adoption. These should either   #
# be removed or moved to the top. #
# ------------------------------- #
blog
docs
hacks
howtos
media-src
product-links.txt
src
static
versioned_docs
versioned_sidebars