/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff1f00;
  --ifm-color-primary-dark: #ff3800;
  --ifm-color-primary-darker: #ff4700;
  --ifm-color-primary-darkest: #ff5400;
  --ifm-color-primary-light: #ff7000;
  --ifm-color-primary-lighter: #ff7d00;
  --ifm-color-primary-lightest: #ff8b00;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

body {
  font-family: IBM Plex Sans, -apple-system, blinkmacsystemfont, Segoe UI,
    roboto, oxygen-sans, ubuntu, cantarell, Helvetica Neue, sans-serif;
}

.alert--primary {
  background-color: #14d890;
}

.hero--primary {
  background-image: url("/img/Camunda_Master_Colours_RGB.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100%;
}

.button--hero {
  background-color: #fff;
}

.button--hero:hover {
  background-color: #e6e7e8;
}

.osano-footer-link-docu {
  color: var(--ifm-color-link-footer);

}

.hero--secondary {
  background-color: #14d890;
  background-size: 100%;
  color: #000;
}

/* Osano Styles  */

.osano-cm-widget svg {
  display: none;
  }
  .osano-cm-widget svg {
  display: none;
  }
  .osano-cm-widget:focus,
  .osano-cm-widget:hover {
  opacity: 1;
  transform: none;
  }
  .osano-cm-widget:active {
  transform: translateY(1px);
  }
  .osano-cm-link {
  color: #002f66 !important;}
  .osano-cm-close {
    background: transparent !important;}
  div.osano-cm-info__info-views.osano-cm-info-views.osano-cm-info-views--position_0 > div > ul > li:last-of-type {
      display: none;
  }

/* style SVG images of the BPMN coverage page */
svg.implemented [fill="#333"]{
  fill:#11c399
}

svg.implemented [stroke="#333"]{
  stroke:#11c399
}

svg.implemented:hover [fill="#333"]{
  fill:#14d890;
}

svg.implemented:hover [stroke="#333"]{
  stroke:#14d890;
}

.bpmn-symbol-container a {
  padding-right: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.bpmn-coverage-event-table td {
  text-align: center;
}

.badge--beginner {
  background-color: #FF8B00;
  color: #FFFFFF;
}

.badge--intermediate {
  background-color: #FF5400;
  color: #FFFFFF;
}

.badge--advanced {
  background-color: #FF1F00;
  color: #FFFFFF;
}

.badge--short {
  background-color: #14D890;
  color: #FFFFFF;
}

.badge--medium {
  background-color: #0BA7B9;
  color: #FFFFFF;
}

.badge--long {
  background-color: #0075FF;
  color: #FFFFFF;
}

.badge--platform {
  background-color: #FF1F00;
  color: #FFFFFF;
}

navbar .navbar .navbar__link[href*=self-managed] {
  font-size: 0;
  padding: 4px;
  margin: 0 4px;
}

 .menu__link[href*=self-managed]:hover{
  color: #14D890;
 }

.navbar .navbar__link[href*=self-managed]:hover{
  color: #14D890;
 }

.navbar .navbar__link[href*=self-managed]:before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background-size: cover;
  float: left;
}

.navbar .navbar__link[href*=self-managed]:before {
  background-image: url('../../static/img/self-managed.png');
  margin-right: 2px;
}

.sign-up{
 color: #fff !important;
}

.sign-up:hover{
  color: #000 !important;
 }

.get-started:hover{
  background-color:#000;
  color: #fff;
  --ifm-button-border-color: #000;
}