/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/*
These colors are produced using a slightly darker version of #fc5d0d (orange-munda) in the primary color shades tool.
See: https://docusaurus.io/docs/styling-layout#styling-your-site-with-infima
*/
:root {
  --ifm-color-primary: #c54302;
  --ifm-color-primary-dark: #b13c02;
  --ifm-color-primary-darker: #a73902;
  --ifm-color-primary-darkest: #8a2f01;
  --ifm-color-primary-light: #d94a02;
  --ifm-color-primary-lighter: #e34d02;
  --ifm-color-primary-lightest: #fc5806;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

body {
  font-family: IBM Plex Sans, -apple-system, blinkmacsystemfont, Segoe UI,
    roboto, oxygen-sans, ubuntu, cantarell, Helvetica Neue, sans-serif;
}

.alert--primary {
  background-color: #14d890;
}

.hero--primary {
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
}

.button--hero {
  background-color: #fc5d0d;
  border-color: #fc5d0d;
  color: #fff !important;
  transition: all 0.3s;
}

.button--hero:hover {
  background-color: transparent;
  border-color: #fc5d0d;
  color: #fff !important;
  transform: translateY(-8px);
  transition: all 0.3s;
}

.sign-up {
  color: #fff !important;
  border-color: #fc5d0d;
  margin: 1em;
  transition: all 0.3s;
}

.sign-up:hover {
  color: #fff !important;
  background-color: #fc5d0d;
  transform: translateY(-8px);
  transition: all 0.3s ease;
}

.osano-footer-link-docu {
  color: var(--ifm-color-link-footer);
}

.hero--secondary {
  background-color: #14d890;
  background-size: 100%;
  color: #000;
}

/* Osano Styles  */
.osano-cm-widget {
  display: none;
}
.osano-cm-widget:focus,
.osano-cm-widget:hover {
  opacity: 1;
  transform: none;
}
.osano-cm-widget:active {
  transform: translateY(1px);
}
div.osano-cm-info__info-views.osano-cm-info-views.osano-cm-info-views--position_0
  > div
  > ul
  > li:last-of-type {
  display: none;
}
.osano-cm-button--type_accept {
  border-radius: 30px;
  border: 1px solid #000000;
}
.osano-cm-button--type_deny {
  border-radius: 30px;
}
.osano-cm-button--type_save {
  color: #434343;
  background-color: #f7f7f7;
  border-radius: 30px;
  border: 1px solid #434343;
}
.osano-cm-button--type_denyAll {
  color: #434343;
  background-color: #f7f7f7;
  border-radius: 30px;
  border: 1px solid #434343;
}
.osano-cm-button--type_deny:hover {
  color: #434343;
}
.osano-cm-button--type_denyAll:hover {
  color: #434343;
  background-color: #e6e6e6;
}
.osano-cm-button--type_save:hover {
  color: #434343;
  background-color: #e6e6e6;
}

/* style SVG images of the BPMN coverage page */
svg.implemented [fill="#333"] {
  fill: #11c399;
}

svg.implemented [stroke="#333"] {
  stroke: #11c399;
}

svg.implemented:hover [fill="#333"] {
  fill: #14d890;
}

svg.implemented:hover [stroke="#333"] {
  stroke: #14d890;
}

.bpmn-symbol-container a {
  padding-right: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.bpmn-coverage-event-table td {
  text-align: center;
}

.badge--beginner {
  background-color: #ff8b00;
  color: #ffffff;
}

.badge--intermediate {
  background-color: #ff5400;
  color: #ffffff;
}

.badge--advanced {
  background-color: #ff1f00;
  color: #ffffff;
}

.badge--short {
  background-color: #14d890;
  color: #ffffff;
}

.badge--medium {
  background-color: #0ba7b9;
  color: #ffffff;
}

.badge--long {
  background-color: #0075ff;
  color: #ffffff;
}

.badge--platform {
  background-color: #fc5d0d;
  color: #ffffff;
  margin-bottom: 1em;
}
.badge--cloud {
  background-color: #26d07c;
  color: #000000;
  margin-bottom: 1em;
}

.badge--beta {
  background-color: #26d07c;
  color: #000000;
}

.badge--enterprise-only {
  background-color: #26d07c;
  color: #000000;
  margin-left: 4px;
  vertical-align: text-top;
}

navbar .navbar .navbar__link[href*="self-managed"] {
  font-size: 0;
  padding: 4px;
  margin: 0 4px;
}

.menu__link[href*="self-managed"]:hover {
  color: #14d890;
}

.navbar .navbar__link[href*="self-managed"]:hover {
  color: #14d890;
}

.navbar .navbar__link[href*="self-managed"]:before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-size: cover;
  float: left;
}

.navbar .navbar__link[href*="self-managed"]:before {
  background-image: url("../../static/img/self-managed.png");
  margin-right: 2px;
}

/* Between mobile and desktop sizes, the nav bar gets a little scrunchy. Scale things down a bit to make more space. */
@media screen and (min-width: 996px) and (max-width: 1140px) {
  .navbar .navbar__title,
  .navbar .navbar__link {
    font-size: 0.9em;
  }

  .navbar .navbar__item {
    padding: var(--ifm-navbar-item-padding-vertical)
      calc(0.5 * var(--ifm-navbar-item-padding-horizontal));
  }

  .navbar .navbar__link[href*="self-managed"]:before {
    width: 23px;
    height: 23px;
  }
}

.get-started-use-case {
  background-color: #042b1d;
  color: #fff;
  border-color: #042b1d;
  transition: all 0.3s ease;
}

.get-started-use-case:hover {
  background-color: transparent;
  color: #000 !important;
  border-color: #000;
  transform: translateY(-8px);
  transition: all 0.3s ease;
}

.get-started-use-case-2 {
  background-color: transparent;
  color: #042b1d !important;
  border-color: #042b1d;
  margin: 1em;
  transition: all 0.3s ease;
}

.get-started-use-case-2:hover {
  background-color: #000;
  color: #fff !important;
  border-color: #000;
  transform: translateY(-8px);
  transition: all 0.3s ease;
}

.component-title {
  text-align: center;
}

.component-desc {
  text-align: center;
}

.component-block {
  transition: all 0.3s ease;
}

.component-block:hover {
  transform: translateY(-8px);
  transition: all 0.3s ease;
}

div[class^="announcementBar_"] {
  font-size: 120%;
  padding: 1em 0;
}
div[class^="announcementBar_"] button {
  align-self: center;
}

/* Styles for BPMN.io integration and callouts in these models */
.bpmn-model {
  position: relative;
  background-color: #f9f9f9;
  margin-bottom: 15px;
  padding: 10px;
  overflow: hidden;
}
.callout {
  display: inline-block;
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  font-size: 0.75em;
  width: 1.67em;
  height: 1.67em;
  line-height: 1.67em;
  font-style: normal;
  font-weight: bold;
  /*margin-block-end: 1em; leads to wired effects when callout has multiple lines*/
  margin-inline-end: 0.75em;
}
.thumbs-down-example {
  border: 3px solid #bd0100;
  padding-bottom: 0px;
}
.thumbs-down {
  color: #bd0100 !important;
  font-size: xx-large;
  position: absolute;
  z-index: 10;
}
span.callout + p {
  display: inline;
  margin: 0 0 1.25rem;
}
span.callout + p::after {
  content: "\a";
  white-space: pre;
}

/* I needed to overwrite this, otherwise the DMN table is super small */
.dmn-decision-table-container .tjs-container {
  width: 100%;
}
.dmn-decision-table-container .tjs-table {
  width: 100%;
}

.theme-doc-markdown img {
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  box-shadow: 4px 4px 4px 1px lightgray;
}

.theme-doc-markdown table img {
  border: none;
  box-shadow: none;
}

/* Unsupported versions in the versions selector */
.dropdown-separator {
  margin: 0.3rem 0;
}

.dropdown-unsupported-versions {
  font-size: 0.75rem;
  padding: 0.2rem 0.5rem;
}
