# Redirect to https
RewriteEngine on
RewriteCond %{SERVER_PORT} !^443$
RewriteRule (.*) https://%{SERVER_NAME}/$1 [R=301,L]

# Disable directory listing and multi views
Options -Indexes -MultiViews

# Redirect pages - https://httpd.apache.org/docs/current/mod/mod_rewrite.html#rewriterule

RewriteRule ^docs/components/overview/(.*)$ /0.26/components/components-overview/$1 [R=301,L]
RewriteRule ^docs/components/overview$ /0.26/components/components-overview/ [R=301,L]

# Add yaml mime type
AddType text/vnd.yaml   yaml
# Add bpmn mime type
AddType text/xml        bpmn
# Add graphql scheme mime type
AddType text/plain      graphqls
# Add diff mime type
AddType text/plain      diff
