# Redirect to https
RewriteEngine on
RewriteCond %{SERVER_PORT} !^443$
RewriteRule (.*) https://%{SERVER_NAME}/$1 [R=301,L]

# Disable directory listing and multi views
Options -Indexes -MultiViews

# Redirect pages - https://httpd.apache.org/docs/current/mod/mod_rewrite.html#rewriterule

# 1.2 apis/clients to apis/tools change
RewriteRule ^docs/apis-clients/?$ /1.2/docs/apis-tools/working-with-apis-tools/ [R=301,L]
RewriteRule ^docs/apis-clients(.*)$ /1.2/docs/apis-tools$1 [R=301,L]

RewriteRule ^docs/self-managed/overview/(.*)$ /1.2/docs/self-managed/about-self-managed/$1 [R=301,L]
RewriteRule ^docs/self-managed/overview$ /1.2/docs/self-managed/about-self-managed/ [R=301,L]

RewriteRule ^docs/components/overview/(.*)$ /1.2/docs/components/$1 [R=301,L]
RewriteRule ^docs/components/overview$ /1.2/docs/components/ [R=301,L]

RewriteRule ^docs/apis-clients/overview/(.*)$ /1.2/docs/apis-tools/working-with-apis-tools/$1 [R=301,L]
RewriteRule ^docs/apis-clients/overview$ /1.2/docs/apis-tools/working-with-apis-tools [R=301,L]

# Add yaml mime type
AddType text/vnd.yaml   yaml
# Add bpmn mime type
AddType text/xml        bpmn
# Add graphql scheme mime type
AddType text/plain      graphqls
# Add diff mime type
AddType text/plain      diff
