name: build-docs

on:
  push:
    branches:
      - "**"
      - "!main"
    tags-ignore:
      - "*"
  pull_request:

jobs:
  build-docs:
    # For internal PRs, this will run on `push` events;
    #   for external/forked PRs, it will run on `pull_request` events.
    #   Ideally we'd have checked this condition when defining the triggers,
    #   but that's not supported by GitHub actions.
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.fork
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Install Dependencies
        run: npm ci
      - name: Build
        run: npm run build
        env:
          NODE_OPTIONS: --max_old_space_size=4096
      - name: Remove https redirect
        run: |
          sed -i '/SERVER_PORT/d;/SERVER_NAME/d' build/.htaccess
      - name: Run web server
        run: |
          docker run -d --name webserver -v "$PWD/build":/app -p 8888:8080 bitnami/apache:2.4.54
          echo "container_ip=$(docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}' webserver)" >> $GITHUB_ENV
      - name: Download sitemap from production
        run: curl -sL https://docs.camunda.io/sitemap.xml | grep -oP '<loc>\K.*?(?=</loc>)' | sed "s!https://docs.camunda.io!http://${{ env.container_ip }}:8080!g" > sitemap.prod.txt
      - name: Prepare product links
        run: grep 'https://docs.camunda.io' product-links.txt | sed "s!https://docs.camunda.io!http://${{ env.container_ip }}:8080!g" > product-links.prod.txt
      - name: Waiting for URL available
        uses: nev7n/wait_for_response@v1
        with:
          url: "http://${{ env.container_ip }}:8080/"
      - name: Validate sitemap links
        uses: lycheeverse/lychee-action@v1.6.1
        with:
          args: "sitemap.prod.txt"
          fail: true
      - name: Validate product links
        uses: lycheeverse/lychee-action@v1.6.1
        with:
          args: "product-links.prod.txt"
          fail: true
      - name: Check internal links
        uses: untitaker/hyperlink@0.1.27
        with:
          args: build/
