name: build-docs

on: pull_request

jobs:
  build-docs:
    runs-on: ubuntu-latest
    env:
      temporary_link_path: .github/workflows/validate-links
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Install Dependencies
        run: npm ci
      - name: Cache Docusaurus
        uses: ./.github/actions/docusaurus-cache
      - name: Build
        run: npm run build
        env:
          NODE_OPTIONS: --max_old_space_size=8192
