name: build-docs

on:
  push:
    branches:
      - "*"
      - "!master"
    tags-ignore:
      - "*"

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Install Dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Remove https redirect
        run: |
          sed -i '/SERVER_PORT/d;/SERVER_NAME/d' build/.htaccess
      - name: Run web server
        run: |
          docker run -d --name webserver -v "$PWD/build":/app -p 8888:8080 bitnami/apache:latest
          echo "container_ip=$(docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}' webserver)" >> $GITHUB_ENV
      - name: Waiting for URL available
        uses: nev7n/wait_for_response@v1
        with:
          url: 'http://${{ env.container_ip }}:8080/'
      - name: Check internal links
        uses: filiph/linkcheck@v2.0.15+1
        with:
          arguments: 'http://${{ env.container_ip }}:8080'
