name: publish-prod

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

permissions:
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Install Dependencies
        run: npm ci
      - name: Build
        run: npm run build
        env:
          NODE_OPTIONS: --max_old_space_size=4096
      - name: Get Github Actions IP
        id: ip
        uses: haythem/public-ip@v1.2
      - name: Add Github Actions IP to Security group
        run: |
          aws ec2 authorize-security-group-ingress --group-id ${{ secrets.AWS_SECURITY_GROUP_NAME }} --protocol tcp --port 22 --cidr ${{ steps.ip.outputs.ipv4 }}/32
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      - name: Publish
        uses: burnett01/rsync-deployments@5.1
        with:
          switches: -avzr --delete
          path: build/
          remote_path: ${{ secrets.AWS_PROD_PUBLISH_PATH_UNSUPPORTED }}/0.25
          remote_host: ${{ secrets.AWS_PROD_PUBLISH_HOST }}
          remote_user: ${{ secrets.AWS_PROD_PUBLISH_USER }}
          # vvvvv Intentionally missing the AWS_ prefix vvvvv
          remote_key: ${{ secrets.PUBLISH_PROD_KEY }}
      - name: Remove Github Actions IP from security group
        run: |
          aws ec2 revoke-security-group-ingress --group-id ${{ secrets.AWS_SECURITY_GROUP_NAME }} --protocol tcp --port 22 --cidr ${{ steps.ip.outputs.ipv4 }}/32
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
        if: always()
