name: publish-prod

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
      - "!0.25.[0-9]+"
      - "!0.26.[0-9]+"
      - "!1.0.[0-9]+"
      - "!1.1.[0-9]+"
      - "!1.2.[0-9]+"
      - "!1.3.[0-9]+"
      - "!8.0.[0-9]+"
      - "!8.1.[0-9]+"
      - "!8.2.[0-9]+"
      - "!8.3.[0-9]+"

permissions:
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v1
        with:
          node-version: 22
      - name: Install Dependencies
        run: npm ci
      - name: Enable Indexing
        run: "sed -i 's/noIndex: true/noIndex: false/g' docusaurus.config.js"
      - name: Build
        run: npm run build
        env:
          NODE_OPTIONS: --max_old_space_size=8192
          DOCS_SITE_URL: https://docs.camunda.io
          DOCS_SITE_BASE_URL: /
      - name: Get Github Actions IP
        id: ip
        uses: haythem/public-ip@v1.3
      - name: Add Github Actions IP to Security group
        run: |
          aws ec2 authorize-security-group-ingress --group-id ${{ secrets.AWS_SECURITY_GROUP_NAME }} --protocol tcp --port 22 --cidr ${{ steps.ip.outputs.ipv4 }}/32
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      - name: Publish
        uses: burnett01/rsync-deployments@5.1
        with:
          switches: -avzr --delete
          path: build/
          remote_path: ${{ secrets.AWS_PROD_PUBLISH_PATH }}
          remote_host: ${{ secrets.AWS_PROD_PUBLISH_HOST }}
          remote_user: ${{ secrets.AWS_PROD_PUBLISH_USER }}
          # vvvvv Intentionally missing the AWS_ prefix vvvvv
          remote_key: ${{ secrets.PUBLISH_PROD_KEY }}
      - name: Remove Github Actions IP from security group
        run: |
          aws ec2 revoke-security-group-ingress --group-id ${{ secrets.AWS_SECURITY_GROUP_NAME }} --protocol tcp --port 22 --cidr ${{ steps.ip.outputs.ipv4 }}/32
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
        if: always()
  trigger-crawl:
    runs-on: ubuntu-latest
    needs: publish
    steps:
      - name: Trigger Algolia crawl
        uses: algolia/algoliasearch-crawler-github-actions@v1.0.13
        id: algolia_crawler
        with:
          crawler-user-id: ${{ secrets.ALGOLIA_CRAWLER_USER_ID }}
          crawler-api-key: ${{ secrets.ALGOLIA_CRAWLER_API_KEY }}
          algolia-app-id: ${{ secrets.ALGOLIA_APP_ID }}
          algolia-api-key: ${{ secrets.ALGOLIA_API_KEY }}
          site-url: "https://docs.camunda.io"
          crawler-name: ${{ secrets.ALGOLIA_CRAWLER_NAME }}
