name: Sync Camunda REST API

on:
  schedule:
    - cron: "0 15 * * 4" # Runs every Thursday at 3 PM UTC
  workflow_dispatch:

jobs:
  sync-file:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Camunda docs repository
        uses: actions/checkout@v6
        with:
          repository: camunda/camunda-docs
          path: docs

      - name: Checkout Camunda
        uses: actions/checkout@v6
        with:
          repository: camunda/camunda
          path: rest-spec
          sparse-checkout: zeebe/gateway-protocol/src/main/proto/v2
          sparse-checkout-cone-mode: false

      - name: Sync documentation
        run: |
          cd docs
          mv ../rest-spec/zeebe/gateway-protocol/src/main/proto/v2/* api/camunda/v2
          cd api/camunda/v2
          mv rest-api.yaml camunda-openapi.yaml
          npm i
          npm run api:generate:camunda
          if git diff-index --quiet HEAD; then
            echo "No changes to commit."
            exit 0
          fi

      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.GH_APP_API_SYNC_ID }}
          private-key: ${{ secrets.GH_APP_API_SYNC_KEY }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          token: "${{ steps.generate_token.outputs.token }}"
          path: docs
          title: Update camunda REST API doc
          body: |
            ## Description

            This is an autogenerated PR by the [sync api specs workflow](https://github.com/camunda/camunda-docs/tree/main/.github/workflows/sync-rest-api-docs.yaml).
            This PR contains every changes made to the REST api specs in the [monorepo](https://github.com/camunda/camunda/blob/main/zeebe/gateway-protocol/src/main/proto/v2) in the last week.
            This PR contains also all the generated OpenAPI files related to the changes.

            ## When should this change go live?

            - There is **no urgency** with this change and can be released at any time.

            ## PR Checklist

            - My changes are for the **next minor** and are in `/docs` directory (aka `/next/`).
            - My changes require a [technical writer review](https://github.com/camunda/camunda-docs/blob/main/howtos/documentation-guidelines.md#review-process), and I've assigned @camunda/tech-writers as a reviewer.

          commit-message: "docs: update REST API spec"
          branch: update-rest-doc
          delete-branch: true
          team-reviewers: camunda/tech-writers
          base: main
          labels: deploy
